/* body{
    background-color: darkgrey;
    padding: 30px 100px 30px 100px;
}

.GraficoPie{
    /* display: block; */
    /* float: right;

} */

/* #GraficoDonut{
    float: right;
    }
     */
/* #GraficoCombo{
    float: right;
} */ */